doctype html
html
	head
		title 赛事
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no")
		script(src="/javascripts/jquery.min.js")
		link(rel="stylesheet" href="/stylesheets/game.css")
		script(type="text/javascript").
			var gameId = "#{game.id}";
			var team = "";
			var navbar = 1;
			function initialize(){
				$(".navbar .left img").attr("src","images/btn-team-active@2x.png");
				getTeam();
			};
			function choose(i){
				$(".content").empty();
				if(i!=navbar){
					switch(navbar){
						case 1:
							$(".navbar .left img").attr("src","images/btn-team@2x.png");
							break;
						case 2:
							$(".schedule-logo img").attr("src","images/btn-race@2x.png");
							break;
						case 3:
							$(".navbar .right img").attr("src","images/btn-report@2x.png");
							break;
					}
				}
				navbar = i;
				switch(i){
					case 1:
						$(".navbar .left img").attr("src","images/btn-team-active@2x.png");
						getTeam();
						break;
					case 2:
						$(".schedule-logo img").attr("src","images/btn-race-active@2x.png");
						getRace();
						break;
					case 3:
						$(".navbar .right img").attr("src","images/btn-report-active@2x.png");
						getReport();
						break;
				}
			};
			function getTeam(){
				if(team==""){
					var url = "/getTeam?gameId="+gameId;
					$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							var HTML = "";
							if(data.number<=0){
								HTML += "<div class='team empty horizontal-center'>"+
											"<img src='images/empty-team@2x.png'>"+
										"</div>";
							}else{
								var teamList = data.teamList;
								HTML += "<div class='team'>";
								for(var i=0;i<data.number;i++){
									if(i%2){
										HTML += "<div class='card' style='background-color:#F0F0F0'>";
									}else{
										HTML += "<div class='card'>";
									}
									HTML += "<p class='team-order left'>"+(i+1)+"</p>"+
											"<img class='team-img left' src="+teamList[i].logoUrl+">"+
											"<p class='team-name left'>"+teamList[i].name+"</p>"+
											"</div>";
								}
								HTML += "</div>";
								team = HTML;
							}
							$(".content").append(HTML);
						}
					});
				}else{
					$(".content").append(team);
				}
				
			};
			function getRace(){
				var url = "/getRace?gameId="+gameId;
				$.ajax({
						type:"GET",
						url : url,
						dataType:"json",
						success:function(data){
							var HTML = "";
							if(data.number<=0){
								HTML += "<div class='race empty horizontal-center'>"+
											"<img src='images/empty-race@2x.png'>"+
										"</div>";
							}else{
								var race = data.raceList;
								HTML += "<div class='race'>";
								for(var i=0;i<data.number;i++){
									if(i!=0&&race[i].type==race[i-1].type){
										HTML += "<div class='line-border'></div>";
										HTML += "<div class='card'>"+
												"<div class='team left horizontal-center'>"+
													"<img class='race-img' src="+race[i].teamAId.logoUrl+">";
										if(race[i].status=="已完赛"){
											if(race[i].scoreId.scoreA>race[i].scoreId.scoreB){
												HTML += "<div class='team-win horizontal-center'>"+
															"<p class='win-text'>win"+
														"</div>"+
														"<p class='race-name up-offset'>"+race[i].teamAId.name+"</p>";
											}
										}else{
											HTML += "<p class='race-name'>"+race[i].teamAId.name+"</p>";
										}
										HTML +=	"</div>"+
												"<div class='info horizontal-center'>"+
													"<p class='title'>"+"#{game.get('name')}"+"</p>"+
													"<div class='score'>"+
														"<p class='scoreA'>"+race[i].scoreId.scoreA+"</p>"+
														"<p class='scoreB'>"+race[i].scoreId.scoreB+"</p>"+
													"</div>"+
													"<p class='status'>"+race[i].status+"</p>"+
												"</div>"+
												"<div class='team right horizontal-center'>"+
													"<img class='race-img' src="+race[i].teamBId.logoUrl+">";
										if(race[i].status=="已完赛"){
											if(race[i].scoreId.scoreA<race[i].scoreId.scoreB){
												HTML += "<div class='team-win horizontal-center'>"+
															"<p class='win-text'>win"+
														"</div>"+
														"<p class='race-name up-offset'>"+race[i].teamBId.name+"</p>";
											}
										}else{
											HTML += "<p class='race-name'>"+race[i].teamBId.name+"</p>";
										}
										HTML +=	"</div>"+
											"</div>";
									}else{
										HTML += "<div class='type'>"+
													"<img class='left type-img' src='images/tabbar-game-icon@2x.png'>"+
													"<p class='type-name'>"+race[i].type+"</p>"+
												"</div>";
										HTML += "<div class='card'>"+
												"<div class='team left horizontal-center'>"+
													"<img class='race-img' src="+race[i].teamAId.logoUrl+">";
										if(race[i].status=="已完赛"){
											if(race[i].scoreId.scoreA>race[i].scoreId.scoreB){
												HTML += "<div class='team-win horizontal-center'>"+
															"<p class='win-text'>win"+
														"</div>"+
														"<p class='race-name up-offset'>"+race[i].teamAId.name+"</p>";
											}
										}else{
											HTML += "<p class='race-name'>"+race[i].teamAId.name+"</p>";
										}
										HTML +=	"</div>"+
												"<div class='info horizontal-center'>"+
													"<p class='title'>"+"#{game.get('name')}"+"</p>"+
													"<div class='score'>"+
														"<p class='scoreA'>"+race[i].scoreId.scoreA+"</p>"+
														"<p class='scoreB'>"+race[i].scoreId.scoreB+"</p>"+
													"</div>"+
													"<p class='status'>"+race[i].status+"</p>"+
												"</div>"+
												"<div class='team right horizontal-center'>"+
													"<img class='race-img' src="+race[i].teamBId.logoUrl+">";
										if(race[i].status=="已完赛"){
											if(race[i].scoreId.scoreA<race[i].scoreId.scoreB){
												HTML += "<div class='team-win horizontal-center'>"+
															"<p class='win-text'>win"+
														"</div>"+
														"<p class='race-name up-offset'>"+race[i].teamBId.name+"</p>";
											}
										}else{
											HTML += "<p class='race-name'>"+race[i].teamBId.name+"</p>";
										}
										HTML +=	"</div>"+
											"</div>";
									}
								}
								HTML += "</div>"
							}
							$(".content").append(HTML);
						}
					});
			}
			function getReport(){
				var url = "/getReportList?gameId="+gameId;
				$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							var HTML = "";
							if(data.number<=0){
								HTML += "<div class='report empty horizontal-center'>"+
											"<img src='images/empty-report@2x.png'>"+
										"</div>";
							}else{

								HTML += "<div class='report'>";
								for(var i = 0 ; i<data.number;i++){
									if(data.reportList[i].hasReport){
										HTML += "<div class='card'>"+
													"<img class='report-img left' src="+data.reportList[i].coverUrl+">"+
													"<div class='report-content'>"+
														"<p class='report-title'>"+data.reportList[i].title+"</p>"+
														"<div class='report-info'>"+
															"<img class='time-img left' src='images/icon-clock@2x.png'>"+
															"<p class='time-text left'>"+data.reportList[i].createdAt+"</p>"+
															"<img class='author-img left' src='images/icon-author@2x.png'>"+
															"<p class='author-text left'>"+data.reportList[i].author+"</p>"+
														"</div>"+
													"</div>"+
												"</div>"+
												"<div class='line-border'></div>";
									}
									
								}
								HTML += "</div>";
							}
							$(".content").append(HTML);
						}
					})
			}
	body(onload="initialize()")
		div.brand(style="background-image:url(#{game.get('coverUrl')})")
			div.horizontal-center
				p.title #{game.get("name")}
				p.college #{game.get("college")}
				div.line-border
			div.info.horizontal-center
				div.school.left
					img.school-img(src="images/icon-location@2x.png")
					p.school-name #{game.get("campusId").get("name")}
				div.award.horizontal-center
					p.award-number.left ￥ #{game.get("award")}
					img.award-question.right(src="images/icon-question@2x.png")
				div.follow.right.horizontal-center
					p.follow-text 关注
		div.navbar.horizontal-center
			div.left.navbar-button(onclick="choose(1)")
					img(src="images/btn-team@2x.png", alt="")
			div.navbar-button.schedule-logo(onclick="choose(2)")
					img(src="images/btn-race@2x.png", alt="")
			div.right.navbar-button(onclick="choose(3)")
					img(src="images/btn-report@2x.png", alt="")
		div.content