doctype html
html
	head
		title 直播厅
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no")
		link(rel="stylesheet" href="/stylesheets/live.css")
		link(rel="stylesheet" href="/stylesheets/report.css")
		script(src="/javascripts/jquery.min.js")
		script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
		script(type="text/javascript").
			wx.config({
				debug:false,
				appId:"wx8fb97e6277001984",
				timestamp:#{timestamp},
				nonceStr:"#{nonceStr}",
				signature:"#{signature}",
				jsApiList:[
					'onMenuShareTimeline'
				]
			});
			wx.ready(function(){
				wx.checkJsApi({
					jsApiList:[
				 		'getNetworkType',
				 		'previewImage'
				 	]
				 });
				wx.onMenuShareTimeline({
					title: "测试",
					link: "http://movie.douban.com/subject/25785114/",
					imgUrl: "https://upload.wikimedia.org/wikipedia/zh/thumb/5/53/Utah_Jazz_logo%2C_%282010_%27new_look%27%29.svg/400px-Utah_Jazz_logo%2C_%282010_%27new_look%27%29.svg.png",
					success: function(res){
						
					},
					fail:function(res){
						//- alert(JSON.stringify(res));
					}
				});
			});
			wx.error(function(res){
				//- alert(JSON.stringify(res));
			});
		script(type="text/javascript").
			var isComment = true;
			var weChatUrl = "\"/live\"";
			var oldTime;
			var conversationId = "#{conversationId}";
			var navbar = 1;
			var userId = "#{userId}";
			var competitionId = "#{competitionId}";
			var teamImg = ["images/icon-upvote@2x.png","images/icon-upvote-active@2x.png"];
			var commentImg = ["images/icon-like@2x.png","images/icon-like-active@2x.png"];
			var json = {"url":weChatUrl,"competitionId":competitionId};
			json = JSON.stringify(json);
			var state = "{live@competitionId~"+competitionId+"}";
			state = encodeURIComponent(state);
			var authorizeUrl = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8fb97e6277001984&redirect_uri=http://basketball.avosapps.com/authorize&response_type=code&scope=snsapi_userinfo&state="+state+"#wechat_redirect";

			function getComment(){
				$(".edit").remove();
				$(".content .container").empty();
				var url = "/getComment?competitionId="+competitionId;
				$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							var comment_number = data.comment_number;
							var hotComments = data.comment.hot;
							var newComments = data.comment.recent;
							var hasComment = false;
							$(".content").attr("style","background-color:#FFFFFF;");
							if(comment_number==0){
								$(".content").attr("style","background-color:#F0F0F0;");
								$(".content .container").append("<div class=empty style=background-image:url('images/empty-comment@2x.png')></div>");
							}else if(comment_number>=1000){
								$(".content .container").append("<div class='blank'></div>");
								$(".content .container .blank").before("<p class=comment_number>吐槽数: "+comment_number/1000+"K</p>");
								hasComment=true;
							}else{
								$(".content .container").append("<div class='blank'></div>");
								$(".content .container .blank").before("<p class=comment_number>吐槽数: "+comment_number+"</p>");
								hasComment=true;
							}
							if(hasComment){
								$(".content .container .blank").before("<div class=comment_type id=hot><div class=line></div><div class=hot><p>热门吐槽</p></div><div class=line></div></div>");
								for(var i = 0 ; i < hotComments.length ; i++){
									var HTML = 	"<img class=user_img src="+hotComments[i].user.avatorUrl+" alt='' onclick=commentAt(\""+hotComments[i].user.objectId+"\",\""+hotComments[i].user.nickname+"\")>"+
													"<div class=comment_main>"+
														"<p class=comment_user>"+hotComments[i].user.nickname+"</p>"+
														"<p class=comment_time>"+hotComments[i].comment.updatedAt+"</p>";
									if(hotComments[i].atUser!=""){
										HTML += "<p class=comment_content><span>@ "+hotComments[i].atUser.nickname+" : </span>"+hotComments[i].comment.content+"</p>";
									}else{
										HTML += "<p class=comment_content>"+hotComments[i].comment.content+"</p>";
									}
														
									HTML += "</div>"+
												"<div class=comment_like>"+
												"<span>"+hotComments[i].comment.likes+"</span>"+
												"<a href='#'>";
									if(hotComments[i].likes){
										HTML += "<img src='images/icon-like-active@2x.png' alt='' onclick='return commentLike(this,\""+hotComments[i].comment.objectId+"\")'/>";
									}else{
										HTML += "<img src='images/icon-like@2x.png' alt='' onclick='return commentLike(this,\""+hotComments[i].comment.objectId+"\")'/>";
									}
									HTML +="</a></div></div>";
													
									if(i==0){
										HTML = "<div class=comment style=border:none;>"+HTML;
									}else{
										HTML = "<div class=comment>"+HTML;
									}
									$(".content .container .blank").before(HTML);
								}
								$(".content .container .blank").before("<div class=comment_type id=new><div class=line></div><div class=hot><p>最新吐槽</p></div><div class=line></div></div>");
								for(var i = 0 ; i < newComments.length ; i++){
									var HTML = 	"<img class=user_img src="+newComments[i].user.avatorUrl+" alt='' onclick=commentAt(\""+newComments[i].user.objectId+"\",\""+newComments[i].user.nickname+"\")>"+
													"<div class=comment_main>"+
														"<p class=comment_user>"+newComments[i].user.nickname+"</p>"+
														"<p class=comment_time>"+newComments[i].comment.updatedAt+"</p>";
									if(newComments[i].atUser!=""){
										HTML += "<p class=comment_content><span>@ "+newComments[i].atUser.nickname+" : </span>"+newComments[i].comment.content+"</p>";
									}else{
										HTML += "<p class=comment_content>"+newComments[i].comment.content+"</p>";
									}
									HTML +=	"</div>"+
												"<div class=comment_like>"+
													"<span>"+newComments[i].comment.likes+"</span>"+
													"<a href='#'>";
									if(newComments[i].likes){
										HTML += "<img src='images/icon-like-active@2x.png' alt='' onclick='return commentLike(this,\""+newComments[i].comment.objectId+"\")'/>";
									}else{
										HTML += "<img src='images/icon-like@2x.png' alt='' onclick='return commentLike(this,\""+newComments[i].comment.objectId+"\")'/>";
									}
									HTML +="</a></div></div>";
													
									if(i==0){
										HTML = "<div class=comment style=border:none;>"+HTML;
									}else{
										if(i==newComments.length-1){
											oldTime = newComments[i].comment.createdAt;
										}
										HTML = "<div class=comment>"+HTML;
									}
									$(".content .container .blank").before(HTML);
								}
							}
							$("body").append("<div class=edit><input type=text data-at='' data-at-name='' onblur='lost()'><a onclick='return send()' href='#'>发送</a></div>");
						}
					});
			}

			function getReport(){
				$(".edit").remove();
				$(".content .container").empty();
				var url = "/getReport?competitionId="+competitionId;
				$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							var number = data.number;
							$(".content").attr("style","background-color:#FFFFFF;");
							if(number == 0){
								$(".content").attr("style","background-color:#F0F0F0;");
								$(".content .container").append("<div class=empty style=background-image:url('images/empty-report@2x.png')></div>");
							}else{
								var report = data.report;
								var content = report.content;
								$(".content .container").append(content);
								$(".report_content img").attr("width","");
								$(".report_content img").attr("height","");
							}
						}
					});
			}

			function getStatistics(){
				$(".edit").remove();
				$(".content .container").empty();
				var url = "/getStatistics?competitionId="+competitionId;
				$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							var number = data.number;
							$(".content").attr("style","background-color:#FFFFFF;");
							if(number==0){
								$(".content").attr("style","background-color:#F0F0F0;");
								$(".content .container").append("<div class=empty style=background-image:url('images/empty-statistics@2x.png')></div>");
							}else{
								var statistics = JSON.parse(data.statistics);

								var HTML = "<div class=statistics_type>"+
												"<p>得分统计</p>"+
											"</div>";
								HTML += statisticsTable(statistics.statistics);

								HTML += "<div class=statistics_type>"+
												"<p>#{teamA}球员数据</p>"+
											"</div>";
								HTML += statisticsTable(statistics.playerA);
								HTML += "<div class=statistics_type>"+
												"<p>#{teamB}球员数据</p>"+
											"</div>";
								HTML += statisticsTable(statistics.playerB);
								$(".content .container").append(HTML);
							}
						}
					})
			}
			function statisticsTable(statistics){
				var HTML = "<table class=statistics cellpadding=0 cellspacing=0><thead>";
				for(var i=0;i<statistics.length;i++){
					for(var j=0;j<statistics[i].length;j++){
						if(i==0){
							if(j==statistics[i].length-1){
								HTML += "<th>"+statistics[i][j]+"</th></tr></thead><tbody>";
							}else if(j==0){
								HTML += "<tr><th>"+statistics[i][j]+"</th>";
							}else{
								HTML += "<th>"+statistics[i][j]+"</th>";
							}
						}else{
							if(j==0){
								HTML += "<tr><td style='border-top:none;'>"+statistics[i][j]+"</td>";
							}else if(j==statistics[i].length-1){
								HTML += "<td style='border-top:none;'>"+statistics[i][j]+"</td></tr>"
							}else{
								HTML += "<td style='border-top:none;'>"+statistics[i][j]+"</td>";
							}
						}
					}
				}
				HTML += "</tbody></table>";
				return HTML;
			};
			function refresh(){
				var url = "/refresh?competitionId="+competitionId;
				$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						timeout:5*1000,
						success:function(data){
							$(".enjoy_one span").text(data.likesA);
							$(".enjoy_two span").text(data.likesB);
							$(".award_number").text("￥ "+data.award.toString());
							$(".score").text(data.scoreA+" : "+data.scoreB);
						},
						timeout:function(){
							return false;
						},
						error:function(error){

						}
					});
			};

			function initialize(){
				$(".left img").attr("src","images/icon-comments-active@2x.png");
				$(".left span").css("color","#CB1A48");
				getComment();
			}

			function choose(i){
				switch(navbar){
					case 1:
						$(".left img").attr("src","images/icon-comments@2x.png");
						$(".left span").css("color","#929292");
						break;
					case 2:
						$(".center img").attr("src","images/icon-report@2x.png");
						$(".center span").css("color","#929292");
						break;
					case 3:
						$(".right img").attr("src","images/icon-statistics@2x.png");
						$(".right span").css("color","#929292");
						break;
				}
				navbar = i;
				switch(i){
					case 1:
						isComment=true;
						$(".left img").attr("src","images/icon-comments-active@2x.png");
						$(".left span").css("color","#CB1A48");
						getComment();
						break;
					case 2:
						isComment=false;
						$(".center img").attr("src","images/icon-report-active@2x.png");
						$(".center span").css("color","#CB1A48");
						getReport();
						break;
					case 3:
						isComment=false;
						$(".right img").attr("src","images/icon-statistics-active@2x.png");
						$(".right span").css("color","#CB1A48");
						getStatistics();
						break;
				}
				return true;
			};

			function commentAt(userId,nickname){
				$("input").attr("data-at",userId);
				$("input").attr("data-at-name",nickname);
				$("input").attr("placeholder","@"+nickname+":");
				$("input").focus();
			};

			function lost(){
				if($("input").val()==""){
					$("input").attr("data-at","");
					$("input").attr("placeholder","");
				}
			}

			function send(){
				if(userId==""){
					window.location.href=authorizeUrl;
					return false;
				}
				var content = $("input").val();
				var reg = new RegExp("^[ ]+$");
				if(reg.test(content)||content==""){
					alert("发送的内容不能为空或全为空格");
					$("input").val("");
					return false;
				}
				//发送内容
				var url = "/comment?competitionId="+competitionId+"&content="+content;
				var atUserId = $("input").attr("data-at");
				if(atUserId != ""){
					url = url + "&atUserId=" + atUserId;
				}
				$.ajax({
						type:"GET",
						url:url,
						dataType: "json",
						success:function(data){
							if($(".empty").length>0){
								getComment();
							}
							$("#new").next().attr("style","");
							var HTML = 
							'<div class="comment" style="border:none;">'+
								'<img class="user_img" src=\"'+data.avatorUrl+'\" alt="" onclick=commentAt(\"'+data.userId+'\",\"'+data.nickname+'\")>'+
								'<div class="comment_main">'+
									'<p class="comment_user">'+data.nickname+'</p>'+
									'<p class="comment_time">'+data.createdAt+'</p>';
							if(atUserId!=""){
								HTML += "<p class=comment_content><span>@ "+$("input").attr("data-at-name")+" : </span>"+data.content+"</p>";
							}else{
								HTML += '<p class="comment_content">'+data.content+'</p>';
							}
									
							HTML +=	'</div>'+
										'<div class="comment_like">'+
											'<span>'+data.likes+'</span>'+
											'<a href="#">'+
												'<img src="images/icon-like@2x.png"  alt="" onclick=commentLike(this,\"'+data.id+'\")>';
							$("#new").after(HTML);
							$("input").val("");
							$("input").attr("data-at","");
							$("input").attr("placeholder","");
							return true;
							
						},
						error:function(error){
						}
					});
				
			};
			function isScrollBottom(obj){
				if(obj.scrollTop+obj.clientHeight==obj.scrollHeight){
					return true;
				}
				return false;
			}
			var isReady =true;
			function scrollBottom(obj){
				if(isReady&&isComment&&isScrollBottom(obj)){
					isReady=false;
					var url = "/getOldComment?competitionId="+competitionId+"&oldTime="+oldTime;
					$.ajax({
							type:"GET",
							url:url,
							dataType:"json",
							success:function(data){
								var newComments = data.comment;
								if(newComments.length<=0){
									return;
								}else{
									for(var i = 0 ; i < newComments.length ; i++){
										var HTML = 	"<div class=comment>"+
														"<img class=user_img src="+newComments[i].user.avatorUrl+" alt='' onclick=commentAt(\""+newComments[i].user.objectId+"\",\""+newComments[i].user.nickname+"\")>"+
														"<div class=comment_main>"+
															"<p class=comment_user>"+newComments[i].user.nickname+"</p>"+
															"<p class=comment_time>"+newComments[i].comment.updatedAt+"</p>";
										if(newComments[i].atUser!=""){
											HTML += "<p class=comment_content><span>@ "+newComments[i].atUser.nickname+" : </span>"+newComments[i].comment.content+"</p>";
										}else{
											HTML += "<p class=comment_content>"+newComments[i].comment.content+"</p>";
										}
										HTML += "</div>"+
												"<div class=comment_like>"+
													"<span>"+newComments[i].comment.likes+"</span>"+
													"<a href='#'>";
										if(newComments[i].likes){
											HTML += "<img src='images/icon-like-active@2x.png' alt='' onclick='return commentLike(this,\""+newComments[i].comment.objectId+"\")'/>";
										}else{
											HTML += "<img src='images/icon-like@2x.png' alt='' onclick='return commentLike(this,\""+newComments[i].comment.objectId+"\")'/>";
										}
										HTML +="</a></div></div>";
										if(i==newComments.length-1){
											oldTime=newComments[i].comment.createdAt;
										}
										$(".content .container .blank").before(HTML);
									}
								}
								isReady=true;
							}
						});
				}
			}

			function commentLike(t,commentId){
				if(userId==""){
					window.location.href=authorizeUrl;
					return false;
				}
				var src = $(t).attr("src");
				//发送到后台
				var url = "/commentLike?commentId="+commentId;
				$.ajax({
						type:"GET",
						url:url,
						success:function(data){
							if(src==commentImg[0]){
								$(t).attr("src",commentImg[1]);
								var n = parseInt($(t).parent().prev().text())+1;
								$(t).parent().prev().text(n);
								$(t).parent().prev().css("color","#CB1A48");
							}else{
								$(t).attr("src",commentImg[0]);
								var n = parseInt($(t).parent().prev().text())-1;
								$(t).parent().prev().text(n);
								$(t).parent().prev().css("color","#C9CFD8");
							}
						}
					});
				return true;
			};

			function teamLike(t,team){
				if(userId==""){
					window.location.href=authorizeUrl;
					return false;
				}
				var n_one = parseInt($(".enjoy_one span").text());
				var n_two = parseInt($(".enjoy_two span").text());
				if(team==1){
					if($(t).attr("src")==teamImg[0]){
						if($(".enjoy_two img").attr("src")==teamImg[1]){
							$(".enjoy_two img").attr("src",teamImg[0]);
							n_two -= 1;
							$(".enjoy_two span").text(n_two);
						}
						$(t).attr("src",teamImg[1]);
						n_one += 1;
						$(".enjoy_one span").text(n_one);
					}else{
						//取消点赞
						team=0;
						$(t).attr("src",teamImg[0]);
						n_one -= 1;
						$(".enjoy_one span").text(n_one);
					}
				}else{
					if($(t).attr("src")==teamImg[0]){
						if($(".enjoy_one img").attr("src")==teamImg[1]){
							$(".enjoy_one img").attr("src",teamImg[0]);
							n_one -= 1;
							$(".enjoy_one span").text(n_one);
						}
						$(t).attr("src",teamImg[1]);
						n_two += 1;
						$(".enjoy_two span").text(n_two);
					}else{
						//取消点赞
						team=0;
						$(t).attr("src",teamImg[0]);
						n_two -= 1;
						$(".enjoy_two span").text(n_two);
					}
				}
				var url = "/followteam?competitionId="+competitionId+"&team="+team;
				$.ajax({
					type:"GET",
					url:url,
					dataType:"json",
					success:function(data){

					}
				});
				return true;
			};
	body(onload="initialize()")
		div.brand
			div.container
				div.header
					div.team.one
						div.team_img.imgA
						p.name #{teamA}
					div.game_info
						p.type #{type}
						p.score #{scoreA} : #{scoreB}
						p.status #{status}
					div.team.two
						div.team_img.imgB
						p.name #{teamB}
				div.line
				div.footer
					-if(teamlike==1)
						div.enjoy_one
							a.enjoy_number(href="#")
								img(src="images/icon-upvote-active@2x.png",onclick="return teamLike(this,\""+1+"\")")
							span #{likesA}
					-else
						div.enjoy_one
							a.enjoy_number(href="#")
								img(src="images/icon-upvote@2x.png",onclick="return teamLike(this,\""+1+"\")")
							span #{likesA}
					div.award
						p.award_number ￥ #{award}
						a(href="#")
							img(src="images/icon-question@2x.png")
					-if(teamlike==2)
						div.enjoy_two
							a.enjoy_number(href="#")
								img(src="images/icon-upvote-active@2x.png",onclick="return teamLike(this,\""+2+"\")")
							span #{likesB}
					-else
						div.enjoy_two
							a.enjoy_number(href="#")
								img(src="images/icon-upvote@2x.png",onclick="return teamLike(this,\""+2+"\")")
							span #{likesB}
		div.navbar
			div.btn.left
				button(onclick="return choose(1)")
					img(src="images/icon-comments@2x.png", alt="")
					span 吐槽
			div.btn.center
				button(onclick="return choose(2)")
					img(src="images/icon-report@2x.png", alt="")
					span 战报
			div.btn.right
				button(onclick="return choose(3)")
					img(src="images/icon-statistics@2x.png", alt="")
					span 统计
		div.content(onscroll="scrollBottom(this)")
			div.container
	script(type="text/javascript").
		var width=$(".brand").width()/2-$(".game_info").width()/2;
		$(".game_info").offset({left:width});
		$(".imgA").css("background-image","url('#{logoUrlA}')");
		$(".imgB").css("background-image","url('#{logoUrlB}')");
	script(src="/javascripts/AV.realtime.js")
	script(src="/javascripts/realtime.js")